
.prm-bg {
  background-color: #2b8ac0;
}

.prm-border {
  border: 3px solid #2b8ac0;
}

.prm{
  color: #2b8ac0;
}

.Logo-Typography {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
}

.br-20 {
  border-radius: 20px;
}

.h-90{
  min-height:90%;
}

.h-10{
  height:10%
}

.mt-7{
  margin-top: 5rem !important;
}

.fit-content{
  width: fit-content;
}
.warning{
  background-color: red;
  color: white;
}

.warning-transition{
  background-color: white;
  color: red;
  transition: all 0.5s ease-in-out;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
